In [20]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score,KFold
from sklearn.metrics import mean_squared_error

In [72]:
df = pd.read_csv("../data/03/housing/housing_train.csv")
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.13960,0.0,8.56,0.0,NaN,6.167,90.0,2.4210,5,384.0,NaN,392.69,NaN,86.066034
1,0.03510,95.0,2.68,0.0,NaN,7.853,33.2,5.1180,4,224.0,NaN,392.78,NaN,207.700057
2,15.87440,0.0,18.10,0.0,NaN,6.545,99.1,1.5192,24,666.0,NaN,396.90,21.08,46.689349
3,0.18337,0.0,27.74,0.0,NaN,5.414,98.3,1.7554,4,711.0,NaN,344.05,23.97,29.980669
4,0.12816,12.5,6.07,0.0,NaN,5.885,33.0,6.4980,4,345.0,NaN,396.90,NaN,89.461275
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,0.17120,0.0,8.56,0.0,NaN,5.836,91.9,2.2110,5,384.0,20.9,395.67,18.66,83.647456
426,0.29916,20.0,6.96,0.0,NaN,5.856,42.1,4.4290,3,223.0,18.6,388.65,NaN,90.409128
427,0.01501,80.0,2.01,0.0,NaN,6.635,29.7,8.3440,4,280.0,17.0,390.94,NaN,104.921869
428,11.16040,0.0,18.10,0.0,0.74,6.629,94.6,2.1247,24,666.0,20.2,109.85,23.27,57.427501
429,0.22876,0.0,8.56,0.0,NaN,6.405,85.4,2.7147,5,384.0,20.9,70.80,NaN,79.627685

In [73]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 430 entries, 0 to 429
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     430 non-null    float64
 1   ZN       430 non-null    float64
 2   INDUS    430 non-null    float64
 3   CHAS     408 non-null    float64
 4   NOX      52 non-null     float64
 5   RM       430 non-null    float64
 6   AGE      430 non-null    float64
 7   DIS      430 non-null    float64
 8   RAD      430 non-null    int64
 9   TAX      420 non-null    float64
 10  PTRATIO  420 non-null    float64
 11  B        430 non-null    float64
 12  LSTAT    88 non-null     float64
 13  MEDV     430 non-null    float64
dtypes: float64(13), int64(1)
memory usage: 47.2 KB

In [75]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,430.000000,430.000000,430.000000,408.000000,52.000000,430.000000,430.000000,430.000000,430.000000,420.000000,420.000000,430.000000,88.000000,430.000000
mean,3.694840,11.370930,11.157209,0.073529,0.772442,6.298342,68.916744,3.772554,9.504651,410.959524,18.371429,354.476256,23.902386,97.222903
std,8.789114,23.197997,6.934849,0.261324,0.065919,0.717532,28.019891,2.131754,8.680752,168.251675,2.214768,93.897035,4.756535,40.155983
min,0.009060,0.000000,0.740000,0.000000,0.713000,3.561000,2.900000,1.129600,1.000000,188.000000,12.600000,0.320000,17.930000,21.445934
25%,0.081900,0.000000,5.130000,0.000000,0.713000,5.888250,45.450000,2.063900,4.000000,283.250000,16.900000,374.597500,19.910000,72.899822
50%,0.274475,0.000000,9.125000,0.000000,0.740000,6.210000,78.200000,3.107300,5.000000,332.000000,18.800000,391.305000,23.255000,91.648354
75%,3.560263,12.500000,18.100000,0.000000,0.871000,6.630750,93.975000,5.269125,24.000000,666.000000,20.200000,395.935000,26.930000,108.098012
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,214.412960

In [76]:
df["NOX"] = df.NOX.isnull().astype("int")
df["LSTAT"] = df.LSTAT.isnull().astype("int")

In [77]:
cormat = df.corr()
round(cormat,2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
CRIM,1.00,-0.20,0.40,-0.05,-0.11,-0.21,0.34,-0.37,0.63,0.58,0.29,-0.38,-0.41,-0.38
ZN,-0.20,1.00,-0.53,-0.04,0.18,0.28,-0.58,0.67,-0.32,-0.30,-0.39,0.18,0.24,0.32
INDUS,0.40,-0.53,1.00,0.07,-0.39,-0.40,0.65,-0.71,0.58,0.71,0.37,-0.36,-0.46,-0.47
CHAS,-0.05,-0.04,0.07,1.00,-0.15,0.12,0.09,-0.11,0.01,-0.02,-0.12,0.05,0.08,0.19
NOX,-0.11,0.18,-0.39,-0.15,1.00,0.11,-0.31,0.30,-0.39,-0.40,-0.04,0.30,0.15,0.26
RM,-0.21,0.28,-0.40,0.12,0.11,1.00,-0.22,0.20,-0.21,-0.30,-0.34,0.12,0.34,0.68
AGE,0.34,-0.58,0.65,0.09,-0.31,-0.22,1.00,-0.76,0.44,0.50,0.26,-0.28,-0.45,-0.34
DIS,-0.37,0.67,-0.71,-0.11,0.30,0.20,-0.76,1.00,-0.49,-0.54,-0.23,0.30,0.38,0.23
RAD,0.63,-0.32,0.58,0.01,-0.39,-0.21,0.44,-0.49,1.00,0.91,0.47,-0.46,-0.44,-0.37
TAX,0.58,-0.30,0.71,-0.02,-0.40,-0.30,0.50,-0.54,0.91,1.00,0.46,-0.45,-0.46,-0.46
PTRATIO,0.29,-0.39,0.37,-0.12,-0.04,-0.34,0.26,-0.23,0.47,0.46,1.00,-0.19,-0.25,-0.48
B,-0.38,0.18,-0.36,0.05,0.30,0.12,-0.28,0.30,-0.46,-0.45,-0.19,1.00,0.29,0.34
LSTAT,-0.41,0.24,-0.46,0.08,0.15,0.34,-0.45,0.38,-0.44,-0.46,-0.25,0.29,1.00,0.50
MEDV,-0.38,0.32,-0.47,0.19,0.26,0.68,-0.34,0.23,-0.37,-0.46,-0.48,0.34,0.50,1.00

In [78]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.13960,0.0,8.56,0.0,1,6.167,90.0,2.4210,5,384.0,NaN,392.69,1,86.066034
1,0.03510,95.0,2.68,0.0,1,7.853,33.2,5.1180,4,224.0,NaN,392.78,1,207.700057
2,15.87440,0.0,18.10,0.0,1,6.545,99.1,1.5192,24,666.0,NaN,396.90,0,46.689349
3,0.18337,0.0,27.74,0.0,1,5.414,98.3,1.7554,4,711.0,NaN,344.05,0,29.980669
4,0.12816,12.5,6.07,0.0,1,5.885,33.0,6.4980,4,345.0,NaN,396.90,1,89.461275
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,0.17120,0.0,8.56,0.0,1,5.836,91.9,2.2110,5,384.0,20.9,395.67,0,83.647456
426,0.29916,20.0,6.96,0.0,1,5.856,42.1,4.4290,3,223.0,18.6,388.65,1,90.409128
427,0.01501,80.0,2.01,0.0,1,6.635,29.7,8.3440,4,280.0,17.0,390.94,1,104.921869
428,11.16040,0.0,18.10,0.0,0,6.629,94.6,2.1247,24,666.0,20.2,109.85,0,57.427501
429,0.22876,0.0,8.56,0.0,1,6.405,85.4,2.7147,5,384.0,20.9,70.80,1,79.627685

In [79]:
X = df.drop(columns=['MEDV'])
y = df['MEDV']

In [80]:
X.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT'],
      dtype='object')

In [81]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [82]:
imputer = SimpleImputer(strategy="constant")
X_train = imputer.fit_transform(X_train)
X_test = imputer.transform(X_test)

In [116]:
from sklearn.svm import NuSVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_predict
from sklearn.ensemble import RandomForestRegressor

model = DecisionTreeRegressor(random_state=5)

final_model = model.fit(X_train, y_train)
y_pred1 = model.predict(X_test)

print(f"Model1 MSE: {mean_squared_error(y_test, y_pred1)}")

Model1 MSE: 372.7398928819352

In [117]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
print(f"Model RMSE: {np.sqrt(mean_squared_error(y_test, y_pred1))}")
print(f"Model MAE: {mean_absolute_error(y_test, y_pred1)}")

Model RMSE: 19.306472823432436
Model MAE: 13.47559233854493

In [118]:
df_valid = pd.read_csv("../data/03/housing/housing_validation.csv")
df_valid

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.09178,0.0,4.05,0.0,NaN,6.416,84.1,2.6463,5,296.0,NaN,395.50,NaN
1,0.05644,40.0,6.41,1.0,NaN,6.758,32.9,4.0776,4,254.0,NaN,396.90,NaN
2,0.10574,0.0,27.74,0.0,NaN,5.983,98.8,1.8681,4,711.0,NaN,390.11,18.07
3,0.09164,0.0,10.81,0.0,NaN,6.065,7.8,5.2873,4,305.0,NaN,390.91,NaN
4,5.09017,0.0,18.10,0.0,0.713,6.297,91.8,2.3682,24,666.0,NaN,385.09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,5.70818,0.0,18.10,0.0,NaN,6.750,74.9,3.3317,24,666.0,NaN,393.07,NaN
72,12.80230,0.0,18.10,0.0,0.740,5.854,96.6,1.8956,24,666.0,NaN,240.52,23.79
73,0.10659,80.0,1.91,0.0,NaN,5.936,19.5,10.5857,4,334.0,NaN,376.04,NaN
74,0.08707,0.0,12.83,0.0,NaN,6.140,45.8,4.0905,5,398.0,NaN,386.96,NaN
75,38.35180,0.0,18.10,NaN,NaN,5.453,100.0,1.4896,24,666.0,NaN,396.90,30.59

In [119]:
df_valid["NOX"] = df.NOX.isnull().astype("int")
df_valid["LSTAT"] = df.LSTAT.isnull().astype("int")

In [120]:
imputer = SimpleImputer(strategy = 'constant')
df_valid = imputer.fit_transform(df_valid)  
df_valid

array([[9.17800e-02, 0.00000e+00, 4.05000e+00, 0.00000e+00, 0.00000e+00,
        6.41600e+00, 8.41000e+01, 2.64630e+00, 5.00000e+00, 2.96000e+02,
        0.00000e+00, 3.95500e+02, 0.00000e+00],
       [5.64400e-02, 4.00000e+01, 6.41000e+00, 1.00000e+00, 0.00000e+00,
        6.75800e+00, 3.29000e+01, 4.07760e+00, 4.00000e+00, 2.54000e+02,
        0.00000e+00, 3.96900e+02, 0.00000e+00],
       [1.05740e-01, 0.00000e+00, 2.77400e+01, 0.00000e+00, 0.00000e+00,
        5.98300e+00, 9.88000e+01, 1.86810e+00, 4.00000e+00, 7.11000e+02,
        0.00000e+00, 3.90110e+02, 0.00000e+00],
       [9.16400e-02, 0.00000e+00, 1.08100e+01, 0.00000e+00, 0.00000e+00,
        6.06500e+00, 7.80000e+00, 5.28730e+00, 4.00000e+00, 3.05000e+02,
        0.00000e+00, 3.90910e+02, 0.00000e+00],
       [5.09017e+00, 0.00000e+00, 1.81000e+01, 0.00000e+00, 0.00000e+00,
        6.29700e+00, 9.18000e+01, 2.36820e+00, 2.40000e+01, 6.66000e+02,
        0.00000e+00, 3.85090e+02, 0.00000e+00],
       [1.01530e-01, 0.00000e+00, 1.28300e+01, 0.00000e+00, 0.00000e+00,
        6.27900e+00, 7.45000e+01, 4.05220e+00, 5.00000e+00, 3.98000e+02,
        0.00000e+00, 3.73660e+02, 0.00000e+00],
       [3.18270e-01, 0.00000e+00, 9.90000e+00, 0.00000e+00, 0.00000e+00,
        5.91400e+00, 8.32000e+01, 3.99860e+00, 4.00000e+00, 3.04000e+02,
        0.00000e+00, 3.90700e+02, 0.00000e+00],
       [2.90900e-01, 0.00000e+00, 2.18900e+01, 0.00000e+00, 0.00000e+00,
        6.17400e+00, 9.36000e+01, 1.61190e+00, 4.00000e+00, 4.37000e+02,
        0.00000e+00, 3.88080e+02, 0.00000e+00],
       [4.03841e+00, 0.00000e+00, 1.81000e+01, 0.00000e+00, 0.00000e+00,
        6.22900e+00, 9.07000e+01, 3.09930e+00, 2.40000e+01, 6.66000e+02,
        0.00000e+00, 3.95330e+02, 0.00000e+00],
       [2.24380e-01, 0.00000e+00, 9.69000e+00, 0.00000e+00, 0.00000e+00,
        6.02700e+00, 7.97000e+01, 2.49820e+00, 6.00000e+00, 3.91000e+02,
        0.00000e+00, 3.96900e+02, 0.00000e+00],
       [1.10690e-01, 0.00000e+00, 1.38900e+01, 1.00000e+00, 0.00000e+00,
        5.95100e+00, 9.38000e+01, 2.88930e+00, 5.00000e+00, 2.76000e+02,
        0.00000e+00, 3.96900e+02, 0.00000e+00],
       [1.70040e-01, 1.25000e+01, 7.87000e+00, 0.00000e+00, 0.00000e+00,
        6.00400e+00, 8.59000e+01, 6.59210e+00, 5.00000e+00, 3.11000e+02,
        0.00000e+00, 3.86710e+02, 0.00000e+00],
       [4.57461e+01, 0.00000e+00, 1.81000e+01, 0.00000e+00, 0.00000e+00,
        4.51900e+00, 1.00000e+02, 1.65820e+00, 2.40000e+01, 6.66000e+02,
        0.00000e+00, 8.82700e+01, 0.00000e+00],
       [5.64600e-02, 0.00000e+00, 1.28300e+01, 0.00000e+00, 0.00000e+00,
        6.23200e+00, 5.37000e+01, 5.01410e+00, 5.00000e+00, 3.98000e+02,
        0.00000e+00, 3.86400e+02, 0.00000e+00],
       [2.83920e-01, 0.00000e+00, 7.38000e+00, 0.00000e+00, 0.00000e+00,
        5.70800e+00, 7.43000e+01, 4.72110e+00, 5.00000e+00, 2.87000e+02,
        0.00000e+00, 3.91130e+02, 0.00000e+00],
       [4.64689e+00, 0.00000e+00, 1.81000e+01, 0.00000e+00, 0.00000e+00,
        6.98000e+00, 6.76000e+01, 2.53290e+00, 2.40000e+01, 6.66000e+02,
        0.00000e+00, 3.74680e+02, 0.00000e+00],
       [9.84900e-02, 0.00000e+00, 2.56500e+01, 0.00000e+00, 0.00000e+00,
        5.87900e+00, 9.58000e+01, 2.00630e+00, 2.00000e+00, 1.88000e+02,
        0.00000e+00, 3.79380e+02, 0.00000e+00],
       [1.43337e+01, 0.00000e+00, 1.81000e+01, 0.00000e+00, 0.00000e+00,
        4.88000e+00, 1.00000e+02, 1.58950e+00, 2.40000e+01, 6.66000e+02,
        0.00000e+00, 3.72920e+02, 0.00000e+00],
       [1.38100e-02, 8.00000e+01, 4.60000e-01, 0.00000e+00, 0.00000e+00,
        7.87500e+00, 3.20000e+01, 5.64840e+00, 4.00000e+00, 2.55000e+02,
        0.00000e+00, 3.94230e+02, 0.00000e+00],
       [9.32909e+00, 0.00000e+00, 1.81000e+01, 0.00000e+00, 0.00000e+00,
        6.18500e+00, 9.87000e+01, 2.26160e+00, 2.40000e+01, 6.66000e+02,
        0.00000e+00, 3.96900e+02, 0.00000e+00],
       [1.62110e-01, 2.00000e+01, 6.96000e+00, 0.00000e+00, 0.00000e+00,
        6.24000e+00, 1.63000e+01, 4.42900e+00, 3.00000e+00, 2.23000e+02,
        0.00000e+00, 3.96900e+02, 0.00000e+00],
       [7.97800e-02, 4.00000e+01, 6.41000e+00, 0.00000e+00, 0.00000e+00,
        6.48200e+00, 3.21000e+01, 4.14030e+00, 4.00000e+00, 2.54000e+02,
        0.00000e+00, 3.96900e+02, 0.00000e+00],
       [1.13081e+00, 0.00000e+00, 8.14000e+00, 0.00000e+00, 0.00000e+00,
        5.71300e+00, 9.41000e+01, 4.23300e+00, 4.00000e+00, 3.07000e+02,
        0.00000e+00, 3.60170e+02, 0.00000e+00],
       [6.26300e-02, 0.00000e+00, 1.19300e+01, 0.00000e+00, 0.00000e+00,
        6.59300e+00, 6.91000e+01, 2.47860e+00, 1.00000e+00, 2.73000e+02,
        0.00000e+00, 3.91990e+02, 0.00000e+00],
       [7.02259e+00, 0.00000e+00, 1.81000e+01, 0.00000e+00, 0.00000e+00,
        6.00600e+00, 9.53000e+01, 1.87460e+00, 2.40000e+01, 6.66000e+02,
        0.00000e+00, 3.19980e+02, 0.00000e+00],
       [8.05579e+00, 0.00000e+00, 1.81000e+01, 0.00000e+00, 0.00000e+00,
        5.42700e+00, 9.54000e+01, 2.42980e+00, 2.40000e+01, 6.66000e+02,
        0.00000e+00, 3.52580e+02, 0.00000e+00],
       [8.38700e-02, 0.00000e+00, 1.28300e+01, 0.00000e+00, 0.00000e+00,
        5.87400e+00, 3.66000e+01, 4.50260e+00, 5.00000e+00, 3.98000e+02,
        0.00000e+00, 3.96060e+02, 0.00000e+00],
       [9.51363e+00, 0.00000e+00, 1.81000e+01, 0.00000e+00, 0.00000e+00,
        6.72800e+00, 9.41000e+01, 2.49610e+00, 2.40000e+01, 6.66000e+02,
        0.00000e+00, 6.68000e+00, 0.00000e+00],
       [1.74460e-01, 0.00000e+00, 1.05900e+01, 1.00000e+00, 0.00000e+00,
        5.96000e+00, 9.21000e+01, 3.87710e+00, 4.00000e+00, 2.77000e+02,
        0.00000e+00, 3.93250e+02, 0.00000e+00],
       [2.68380e-01, 0.00000e+00, 9.69000e+00, 0.00000e+00, 0.00000e+00,
        5.79400e+00, 7.06000e+01, 2.89270e+00, 6.00000e+00, 3.91000e+02,
        0.00000e+00, 3.96900e+02, 0.00000e+00],
       [1.39140e-01, 0.00000e+00, 4.05000e+00, 0.00000e+00, 0.00000e+00,
        5.57200e+00, 8.85000e+01, 2.59610e+00, 5.00000e+00, 2.96000e+02,
        0.00000e+00, 3.96900e+02, 0.00000e+00],
       [1.67600e-01, 0.00000e+00, 7.38000e+00, 0.00000e+00, 0.00000e+00,
        6.42600e+00, 5.23000e+01, 4.54040e+00, 5.00000e+00, 2.87000e+02,
        0.00000e+00, 3.96900e+02, 0.00000e+00],
       [1.96091e+01, 0.00000e+00, 1.81000e+01, 0.00000e+00, 0.00000e+00,
        7.31300e+00, 9.79000e+01, 1.31630e+00, 2.40000e+01, 6.66000e+02,
        0.00000e+00, 3.96900e+02, 0.00000e+00],
       [3.67822e+00, 0.00000e+00, 1.81000e+01, 0.00000e+00, 0.00000e+00,
        5.36200e+00, 9.62000e+01, 2.10360e+00, 2.40000e+01, 6.66000e+02,
        0.00000e+00, 3.80790e+02, 0.00000e+00],
       [4.42228e+00, 0.00000e+00, 1.81000e+01, 0.00000e+00, 0.00000e+00,
        6.00300e+00, 9.45000e+01, 2.54030e+00, 2.40000e+01, 6.66000e+02,
        0.00000e+00, 3.31290e+02, 0.00000e+00],
       [2.14918e+00, 0.00000e+00, 1.95800e+01, 0.00000e+00, 0.00000e+00,
        5.70900e+00, 9.85000e+01, 1.62320e+00, 5.00000e+00, 4.03000e+02,
        0.00000e+00, 2.61950e+02, 0.00000e+00],
       [2.72900e-02, 0.00000e+00, 7.07000e+00, 0.00000e+00, 0.00000e+00,
        7.18500e+00, 6.11000e+01, 4.96710e+00, 2.00000e+00, 2.42000e+02,
        0.00000e+00, 3.92830e+02, 0.00000e+00],
       [3.42700e-02, 0.00000e+00, 5.19000e+00, 0.00000e+00, 0.00000e+00,
        5.86900e+00, 4.63000e+01, 5.23110e+00, 5.00000e+00, 2.24000e+02,
        0.00000e+00, 3.96900e+02, 0.00000e+00],
       [1.35870e-01, 0.00000e+00, 1.05900e+01, 1.00000e+00, 0.00000e+00,
        6.06400e+00, 5.91000e+01, 4.23920e+00, 4.00000e+00, 2.77000e+02,
        0.00000e+00, 3.81320e+02, 0.00000e+00],
       [1.95390e-01, 0.00000e+00, 1.08100e+01, 0.00000e+00, 0.00000e+00,
        6.24500e+00, 6.20000e+00, 5.28730e+00, 4.00000e+00, 3.05000e+02,
        0.00000e+00, 3.77170e+02, 0.00000e+00],
       [2.89600e-01, 0.00000e+00, 9.69000e+00, 0.00000e+00, 0.00000e+00,
        5.39000e+00, 7.29000e+01, 2.79860e+00, 6.00000e+00, 3.91000e+02,
        0.00000e+00, 3.96900e+02, 0.00000e+00],
       [4.93200e-02, 3.30000e+01, 2.18000e+00, 0.00000e+00, 0.00000e+00,
        6.84900e+00, 7.03000e+01, 3.18270e+00, 7.00000e+00, 2.22000e+02,
        0.00000e+00, 3.96900e+02, 0.00000e+00],
       [2.00900e-02, 9.50000e+01, 2.68000e+00, 0.00000e+00, 0.00000e+00,
        8.03400e+00, 3.19000e+01, 5.11800e+00, 4.00000e+00, 2.24000e+02,
        0.00000e+00, 3.90550e+02, 0.00000e+00],
       [1.35540e-01, 1.25000e+01, 6.07000e+00, 0.00000e+00, 0.00000e+00,
        5.59400e+00, 3.68000e+01, 6.49800e+00, 4.00000e+00, 3.45000e+02,
        0.00000e+00, 3.96900e+02, 0.00000e+00],
       [4.68400e-02, 0.00000e+00, 3.41000e+00, 0.00000e+00, 0.00000e+00,
        6.41700e+00, 6.61000e+01, 3.09230e+00, 2.00000e+00, 2.70000e+02,
        0.00000e+00, 3.92180e+02, 0.00000e+00],
       [6.96215e+00, 0.00000e+00, 1.81000e+01, 0.00000e+00, 0.00000e+00,
        5.71300e+00, 9.70000e+01, 1.92650e+00, 2.40000e+01, 6.66000e+02,
        0.00000e+00, 3.94430e+02, 0.00000e+00],
       [1.15172e+00, 0.00000e+00, 8.14000e+00, 0.00000e+00, 0.00000e+00,
        5.70100e+00, 9.50000e+01, 3.78720e+00, 4.00000e+00, 3.07000e+02,
        0.00000e+00, 3.58770e+02, 0.00000e+00],
       [8.82600e-02, 0.00000e+00, 1.08100e+01, 0.00000e+00, 0.00000e+00,
        6.41700e+00, 6.60000e+00, 5.28730e+00, 4.00000e+00, 3.05000e+02,
        0.00000e+00, 3.83730e+02, 0.00000e+00],
       [4.34879e+00, 0.00000e+00, 1.81000e+01, 0.00000e+00, 0.00000e+00,
        6.16700e+00, 8.40000e+01, 3.03340e+00, 2.40000e+01, 6.66000e+02,
        0.00000e+00, 3.96900e+02, 0.00000e+00],
       [6.32000e-03, 1.80000e+01, 2.31000e+00, 0.00000e+00, 0.00000e+00,
        6.57500e+00, 6.52000e+01, 4.09000e+00, 1.00000e+00, 2.96000e+02,
        0.00000e+00, 3.96900e+02, 0.00000e+00],
       [1.17470e-01, 1.25000e+01, 7.87000e+00, 0.00000e+00, 0.00000e+00,
        6.00900e+00, 8.29000e+01, 6.22670e+00, 5.00000e+00, 3.11000e+02,
        0.00000e+00, 3.96900e+02, 0.00000e+00],
       [3.70500e-02, 2.00000e+01, 3.33000e+00, 0.00000e+00, 0.00000e+00,
        6.96800e+00, 3.72000e+01, 5.24470e+00, 5.00000e+00, 2.16000e+02,
        0.00000e+00, 3.92230e+02, 0.00000e+00],
       [1.23247e+00, 0.00000e+00, 8.14000e+00, 0.00000e+00, 0.00000e+00,
        6.14200e+00, 9.17000e+01, 3.97690e+00, 4.00000e+00, 3.07000e+02,
        0.00000e+00, 3.96900e+02, 0.00000e+00],
       [1.14320e-01, 0.00000e+00, 8.56000e+00, 0.00000e+00, 0.00000e+00,
        6.78100e+00, 7.13000e+01, 2.85610e+00, 5.00000e+00, 3.84000e+02,
        0.00000e+00, 3.95580e+02, 0.00000e+00],
       [5.40500e-01, 2.00000e+01, 3.97000e+00, 0.00000e+00, 0.00000e+00,
        7.47000e+00, 5.26000e+01, 2.87200e+00, 5.00000e+00, 2.64000e+02,
        0.00000e+00, 3.90300e+02, 0.00000e+00],
       [3.67367e+00, 0.00000e+00, 1.81000e+01, 0.00000e+00, 0.00000e+00,
        6.31200e+00, 5.19000e+01, 3.99170e+00, 2.40000e+01, 6.66000e+02,
        0.00000e+00, 3.88620e+02, 0.00000e+00],
       [5.66637e+00, 0.00000e+00, 1.81000e+01, 0.00000e+00, 0.00000e+00,
        6.21900e+00, 1.00000e+02, 2.00480e+00, 2.40000e+01, 6.66000e+02,
        0.00000e+00, 3.95690e+02, 0.00000e+00],
       [3.50200e-02, 8.00000e+01, 4.95000e+00, 0.00000e+00, 0.00000e+00,
        6.86100e+00, 2.79000e+01, 5.11670e+00, 4.00000e+00, 2.45000e+02,
        0.00000e+00, 3.96900e+02, 0.00000e+00],
       [5.05900e-02, 0.00000e+00, 4.49000e+00, 0.00000e+00, 0.00000e+00,
        6.38900e+00, 4.80000e+01, 4.77940e+00, 3.00000e+00, 2.47000e+02,
        0.00000e+00, 3.96900e+02, 0.00000e+00],
       [1.91330e-01, 2.20000e+01, 5.86000e+00, 0.00000e+00, 0.00000e+00,
        5.60500e+00, 7.02000e+01, 7.95490e+00, 7.00000e+00, 3.30000e+02,
        0.00000e+00, 3.89130e+02, 0.00000e+00],
       [1.26500e-01, 2.50000e+01, 5.13000e+00, 0.00000e+00, 0.00000e+00,
        6.76200e+00, 4.34000e+01, 7.98090e+00, 8.00000e+00, 2.84000e+02,
        0.00000e+00, 3.95580e+02, 0.00000e+00],
       [1.31100e-02, 9.00000e+01, 1.22000e+00, 0.00000e+00, 0.00000e+00,
        7.24900e+00, 2.19000e+01, 8.69660e+00, 5.00000e+00, 2.26000e+02,
        0.00000e+00, 3.95930e+02, 0.00000e+00],
       [4.41780e-01, 0.00000e+00, 6.20000e+00, 0.00000e+00, 0.00000e+00,
        6.55200e+00, 2.14000e+01, 3.37510e+00, 8.00000e+00, 3.07000e+02,
        0.00000e+00, 3.80340e+02, 0.00000e+00],
       [8.02710e-01, 0.00000e+00, 8.14000e+00, 0.00000e+00, 0.00000e+00,
        5.45600e+00, 3.66000e+01, 3.79650e+00, 4.00000e+00, 3.07000e+02,
        0.00000e+00, 2.88990e+02, 0.00000e+00],
       [7.95000e-02, 6.00000e+01, 1.69000e+00, 0.00000e+00, 0.00000e+00,
        6.57900e+00, 3.59000e+01, 1.07103e+01, 4.00000e+00, 4.11000e+02,
        0.00000e+00, 3.70780e+02, 0.00000e+00],
       [4.35710e-01, 0.00000e+00, 1.05900e+01, 1.00000e+00, 0.00000e+00,
        5.34400e+00, 1.00000e+02, 3.87500e+00, 4.00000e+00, 2.77000e+02,
        0.00000e+00, 3.96900e+02, 0.00000e+00],
       [8.71675e+00, 0.00000e+00, 1.81000e+01, 0.00000e+00, 0.00000e+00,
        6.47100e+00, 9.88000e+01, 1.72570e+00, 2.40000e+01, 6.66000e+02,
        0.00000e+00, 3.91980e+02, 0.00000e+00],
       [3.65900e-02, 2.50000e+01, 4.86000e+00, 0.00000e+00, 0.00000e+00,
        6.30200e+00, 3.22000e+01, 5.40070e+00, 4.00000e+00, 2.81000e+02,
        0.00000e+00, 3.96900e+02, 0.00000e+00],
       [2.76300e-02, 7.50000e+01, 2.95000e+00, 0.00000e+00, 0.00000e+00,
        6.59500e+00, 2.18000e+01, 5.40110e+00, 3.00000e+00, 2.52000e+02,
        0.00000e+00, 3.95630e+02, 0.00000e+00],
       [4.66883e+00, 0.00000e+00, 1.81000e+01, 0.00000e+00, 0.00000e+00,
        5.97600e+00, 8.79000e+01, 2.58060e+00, 2.40000e+01, 6.66000e+02,
        0.00000e+00, 1.04800e+01, 0.00000e+00],
       [1.88360e-01, 0.00000e+00, 6.91000e+00, 0.00000e+00, 0.00000e+00,
        5.78600e+00, 3.33000e+01, 5.10040e+00, 3.00000e+00, 2.33000e+02,
        0.00000e+00, 3.96900e+02, 0.00000e+00],
       [5.70818e+00, 0.00000e+00, 1.81000e+01, 0.00000e+00, 0.00000e+00,
        6.75000e+00, 7.49000e+01, 3.33170e+00, 2.40000e+01, 6.66000e+02,
        0.00000e+00, 3.93070e+02, 0.00000e+00],
       [1.28023e+01, 0.00000e+00, 1.81000e+01, 0.00000e+00, 0.00000e+00,
        5.85400e+00, 9.66000e+01, 1.89560e+00, 2.40000e+01, 6.66000e+02,
        0.00000e+00, 2.40520e+02, 0.00000e+00],
       [1.06590e-01, 8.00000e+01, 1.91000e+00, 0.00000e+00, 0.00000e+00,
        5.93600e+00, 1.95000e+01, 1.05857e+01, 4.00000e+00, 3.34000e+02,
        0.00000e+00, 3.76040e+02, 0.00000e+00],
       [8.70700e-02, 0.00000e+00, 1.28300e+01, 0.00000e+00, 0.00000e+00,
        6.14000e+00, 4.58000e+01, 4.09050e+00, 5.00000e+00, 3.98000e+02,
        0.00000e+00, 3.86960e+02, 0.00000e+00],
       [3.83518e+01, 0.00000e+00, 1.81000e+01, 0.00000e+00, 0.00000e+00,
        5.45300e+00, 1.00000e+02, 1.48960e+00, 2.40000e+01, 6.66000e+02,
        0.00000e+00, 3.96900e+02, 0.00000e+00]])

In [121]:
y_valid_predict = model.predict(df_valid)

In [122]:
y_valid_predict

array([ 76.28980246,  96.44659188,  47.17557907,  76.28980246,
        73.19050807,  76.28980246,  76.28980246,  76.28980246,
        73.19050807,  76.28980246,  87.81722255,  76.28980246,
        45.03868108,  76.28980246,  96.44659188, 107.24418131,
        87.81722255,  59.1302258 , 214.24663842,  73.19050807,
        96.44659188,  96.44659188,  61.32413737,  96.44659188,
        47.17557907,  55.75013176,  76.28980246,  60.38269582,
        71.18515015,  76.28980246,  76.28980246,  96.44659188,
        76.21052055,  73.19050807,  60.38269582,  59.15729521,
       141.52384185,  96.44659188,  96.44659188,  76.28980246,
        76.28980246, 150.23532226, 207.70005688,  76.28980246,
        96.44659188,  53.62232891,  61.32413737,  76.28980246,
        73.19050807,  76.28980246,  76.28980246, 149.45246865,
        76.28980246,  76.28980246, 207.70005688,  99.33223001,
        73.19050807, 149.45246865,  96.44659188,  76.28980246,
        96.44659188, 149.45246865,  76.28980246,  57.90200274,
        76.28980246,  82.79397982,  51.88099084,  96.44659188,
        96.44659188,  60.38269582,  96.44659188,  99.33223001,
        30.87825184,  76.28980246,  76.28980246,  24.01452912])

In [139]:
y_valid_predict = pd.DataFrame(y_valid_predict.round(2)).rename(columns={0: 'MEDV'})

In [141]:
y_valid_predict.to_csv("../data/results/housing_example_submission.csv", index=False)