In [1]:
import pandas as pd

In [2]:
flights = pd.read_csv("../data/02/flights.csv")
flights

C:\Users\Kasia\AppData\Local\Temp\ipykernel_18072\2361755906.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  flights = pd.read_csv("../data/02/flights.csv")

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,...,753.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,...,430.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,...,432.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,...,330.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,...,442.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int64
 6   TAIL_NUMBER          object
 7   ORIGIN_AIRPORT       object
 8   DESTINATION_AIRPORT  object
 9   SCHEDULED_DEPARTURE  int64
 10  DEPARTURE_TIME       float64
 11  DEPARTURE_DELAY      float64
 12  TAXI_OUT             float64
 13  WHEELS_OFF           float64
 14  SCHEDULED_TIME       float64
 15  ELAPSED_TIME         float64
 16  AIR_TIME             float64
 17  DISTANCE             int64
 18  WHEELS_ON            float64
 19  TAXI_IN              float64
 20  SCHEDULED_ARRIVAL    int64
 21  ARRIVAL_TIME         float64
 22  ARRIVAL_DELAY        float64
 23  DIVERTED             int64
 24  CANCELLED            int64
 25  CANCELLATION_REASON  object
 26  AIR_SYSTEM_DELAY     float64
 27  SECURITY_DELAY       float64
 28  AIRLINE_DELAY        float64
 29  LATE_AIRCRAFT_DELAY  float64
 30  WEATHER_DELAY        float64
dtypes: float64(16), int64(10), object(5)
memory usage: 1.3+ GB

In [4]:
flights.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'],
      dtype='object')

1. **Jakie jest maksymalne opóźnienie związane z pogodą?**

In [5]:
flights["WEATHER_DELAY"].max()

1211.0

2. **Jakie było maksymalne opóźnienie lotu z Los Angeles, LAX to Atlanty, ATL w grudniu 2015?**

In [12]:
data_query = ((flights["ORIGIN_AIRPORT"] == "LAX") & (flights["DESTINATION_AIRPORT"] == "ATL") & (flights["MONTH"] == 12))
lax_max = flights.loc[data_query, 'ARRIVAL_DELAY'].max()
lax_max

296.0

3. **Jaki był tail number lotu o maksymalnym opóźnienieniu z Los Angeles, LAX to Atlanty, ATL w grudniu 2015?**

In [14]:
lax_flights = flights.loc[data_query, :]
lax_flights.loc[lax_flights["ARRIVAL_DELAY"] == lax_max, "TAIL_NUMBER"]

5812552    N138DL
Name: TAIL_NUMBER, dtype: object

4. **Jakie było minimalne opóźnienie lotu z Los Angeles, LAX to Atlanty, ATL w grudniu 2015?**

In [15]:
lax_min_delay = lax_flights["ARRIVAL_DELAY"].min()
lax_min_delay

-36.0

5. **Jaki był tail number lotu o minimalnym opóźnienieniu z Los Angeles, LAX to Atlanty, ATL w grudniu 2015?**

In [16]:
lax_flights.loc[lax_flights["ARRIVAL_DELAY"] == lax_min_delay, :]["TAIL_NUMBER"]

5340299    N704SW
Name: TAIL_NUMBER, dtype: object

6. **Jaki był najdłuższy czas lotu (czas spędzony w powietrzu) z Honolulu, HNL gdziekolwiek?**
7. **Dokąd odbył sie ten lot?**
8. **Jaka linia go wykonała?**

In [20]:
hnl_flights = flights.loc[flights["ORIGIN_AIRPORT"] == "HNL", :]
hnl_flights

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
58,2015,1,1,4,HA,102,N492HA,HNL,ITO,500,...,543.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
60,2015,1,1,4,HA,108,N476HA,HNL,KOA,502,...,549.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
62,2015,1,1,4,HA,206,N484HA,HNL,OGG,505,...,530.0,-11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
80,2015,1,1,4,HA,103,N477HA,HNL,LIH,523,...,548.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
132,2015,1,1,4,HA,218,N485HA,HNL,KOA,548,...,624.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819009,2015,12,31,4,AS,898,N529AS,HNL,BLI,2330,...,654.0,-39.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819018,2015,12,31,4,UA,1229,N57869,HNL,LAX,2336,...,658.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819032,2015,12,31,4,DL,729,N624AG,HNL,PDX,2350,...,715.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819034,2015,12,31,4,UA,235,N81449,HNL,SFO,2350,...,710.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819035,2015,12,31,4,AA,675,N207UW,HNL,PHX,2350,...,818.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
max_hnl_flight = hnl_flights.iloc[hnl_flights["AIR_TIME"].argmax(), :].loc[["AIR_TIME", "AIRLINE", "DESTINATION_AIRPORT"]]
max_hnl_flight

AIR_TIME               630.0
AIRLINE                   HA
DESTINATION_AIRPORT      JFK
Name: 2978579, dtype: object

9. **Jaki był minimalny czas lotu (czas w powietrzu) na trasie pomiędzy lotniskami Chicago, ORD i Austin, AUS (tam i z powrotem)?**

In [36]:
ord_aus_list = ["ORD", "AUS"]
ord_aus_flights = flights.loc[(flights["ORIGIN_AIRPORT"].isin(ord_aus_list)) & (flights["DESTINATION_AIRPORT"].isin(ord_aus_list)), :]
ord_aus_flights

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
4057,2015,1,1,4,AA,1201,N566AA,ORD,AUS,1050,...,1344.0,4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4137,2015,1,1,4,AA,2279,N556AA,AUS,ORD,1055,...,1259.0,-31.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7404,2015,1,1,4,AA,1201,N566AA,AUS,ORD,1420,...,1649.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7408,2015,1,1,4,AA,2408,N4WKAA,ORD,AUS,1420,...,1702.0,-3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10613,2015,1,1,4,AA,2408,N4WKAA,AUS,ORD,1745,...,1950.0,-30.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5813834,2015,12,31,4,OO,5701,N139SY,AUS,ORD,1403,...,1625.0,-23.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5814175,2015,12,31,4,AA,2298,N547AA,ORD,AUS,1429,...,1712.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5814583,2015,12,31,4,AA,1344,N4WLAA,AUS,ORD,1455,...,1713.0,-25.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5817331,2015,12,31,4,AA,2270,N4YSAA,ORD,AUS,1828,...,2119.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5818040,2015,12,31,4,OO,5664,N772SK,ORD,AUS,1946,...,2314.0,25.0,0,0,NaN,0.0,0.0,25.0,0.0,0.0

In [38]:
ord_aus_flights["AIR_TIME"].min()

107.0

10. **Jaki był średni czas lotu (czas w powietrzu) na trasie pomiędzy lotniskami Chicago, ORD i Austin, AUS (tam i z powrotem)?**

In [39]:
ord_aus_flights["AIR_TIME"].mean()

133.81096451319382

11. **Jaka była mediana czasu lotu (czas w powietrzu) na trasie pomiędzy lotniskami Chicago, ORD i Austin, AUS (tam i z powrotem)?**

In [40]:
ord_aus_flights["AIR_TIME"].median()

132.0

12. **Jaki był maksymalny czas lotu (czas w powietrzu) na trasie pomiędzy lotniskami Chicago, ORD i Austin, AUS (tam i z powrotem)?**

In [45]:
ord_aus_flights["AIR_TIME"].max()

201.0

13. **Jaka linia lata z Yumy, YUM?**

In [25]:
yum_line = flights.loc[flights["ORIGIN_AIRPORT"] == "YUM", ["AIRLINE"]]
pd.unique(yum_line["AIRLINE"])

array(['OO'], dtype=object)

14. **Ile lotów odbyło się z Yumy, YUM w 2015?**

In [62]:
yum_line.shape[0]

1877

In [26]:
flights.loc[flights["ORIGIN_AIRPORT"] == 'YUM', 'AIRLINE'].value_counts()

OO    1877
Name: AIRLINE, dtype: int64

15. **Jaka trasa ma najkrótsze czasy lotów?**
Odpowiedź podaj jako sklejenie nazw lotnisk, 6liter, na przykład LAXJFK, JFKLAX. Obie odpowiedzi będą zaliczone.

In [27]:
flights_min = flights[["ORIGIN_AIRPORT", "DESTINATION_AIRPORT", "AIR_TIME"]]
flights_group = flights_min.groupby(["ORIGIN_AIRPORT", "DESTINATION_AIRPORT"])["AIR_TIME"].mean().reset_index()
min_flights_time = flights_group["AIR_TIME"].min()
result = flights_group.loc[flights_group["AIR_TIME"] == min_flights_time, :]
result

     ORIGIN_AIRPORT DESTINATION_AIRPORT  AIR_TIME
6928          14256               15841       9.0

In [28]:
min_flights_time = flights["AIR_TIME"].min()
min_fligths = flights.loc[flights["AIR_TIME"] == min_flights_time, :]    
result = min_fligths["ORIGIN_AIRPORT"] + min_fligths["DESTINATION_AIRPORT"] 
result

717451     WRGPSG
940745     PSGWRG
2731846    PSGWRG
2778272    WRGPSG
3008622    WRGPSG
4216972    WRGPSG
4630207     30097
dtype: object

16. **Znajdź najdłużej trwający lot (czas w powietrzu), nie z  JFK. Policz średnią długość lotu pomiędzy lotniskami tego lotu.**

In [29]:
max_fligths = flights.loc[flights["ORIGIN_AIRPORT"] != "JFK", :]    
max_time = max_fligths["AIR_TIME"].max()
max_fligths = max_fligths.loc[max_fligths["AIR_TIME"] == max_time, :]
max_fligths["ORIGIN_AIRPORT"], max_fligths["DESTINATION_AIRPORT"]

(565155    EWR
 Name: ORIGIN_AIRPORT, dtype: object,
 565155    HNL
 Name: DESTINATION_AIRPORT, dtype: object)

In [37]:
airports = ("EWR", "HNL")
flights.loc[(flights["ORIGIN_AIRPORT"].isin(airports)) & (flights["DESTINATION_AIRPORT"].isin(airports)), ["AIR_TIME"]].mean()

AIR_TIME    574.615741
dtype: float64

17. **Jaki jest średni czas lotu (czas w powietrzu) z Honolulu, HNL do Nowego Jorku, JFK?**

In [35]:
flights.loc[(flights["ORIGIN_AIRPORT"] == "HNL") & (flights["DESTINATION_AIRPORT"] == "JFK"), "AIR_TIME"].mean()

546.4490445859873

18. **Jaki jest średni czas lotu (czas w powietrzu) z Nowego Jorku, JFK do Honolulu, HNL?**

In [33]:
flights.loc[(flights["ORIGIN_AIRPORT"] == "JFK") & (flights["DESTINATION_AIRPORT"] == "HNL"), "AIR_TIME"].mean()

635.2070063694267